
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/Jewels_Columns_Student.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/Jewels_Columns_Student.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Jewels_Columns_Student.assets.cache
obj/Debug/netcoreapp3.1/Jewels_Columns_Student.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Jewels_Columns_Student.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Jewels_Columns_Student.csprojAssemblyReference.cache
obj/Jewels_Columns_Student.csproj.nuget.dgspec.json
obj/Jewels_Columns_Student.csproj.nuget.g.props
obj/Jewels_Columns_Student.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
